venv/
env
.env
images/
output/
output/Users/dmitryliashenko/Desktop/Rep/bot_nikossan_API/mask.png
/Users/dmitryliashenko/Desktop/Rep/bot_nikossan_API/reference_blinds.png
/Users/dmitryliashenko/Desktop/Rep/bot_nikossan_API/test.py
__pycache__/
*.pyc
*.pth
.vscode/
.DS_Store
